
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYdebk-hfiO6q_xnDeXFdvogEfMPnCWIU&sensor=false"></script>
  <link href="http://code.jquery.com/ui/1.10.2/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript">
    
    var map;
    var geocoder;
    function initialize() {

      var myLatLong = new google.maps.LatLng(27.397, 150.644);
      var myOptions = {
                          zoom: 16,
                          center: myLatLong,
                          mapTypeId:google.maps.MapTypeId.ROADMAP
                      };
      map           = new google.maps.Map(document.getElementById('map-canvas'),myOptions);
      geocoder      = new google.maps.Geocoder();
    }
  $(document).ready(function() {
    $("#autocomplete").autocomplete({
      source: function(request, response) {
        geocoder.geocode({'address':request.term}, function(results) {
          response($.map(results, function(item) {
              return {
                label: item.formatted_address, 
                value: item.formatted_address,
                latitude: item.geometry.location.lat(),
                longitude: item.geometry.location.lng(),
              }
          }))
        })
      },
      select:function(event, ui) {
        var location    =   new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
        marker          =   new google.maps.Marker({
          map: map,
          draggable: true
        })

        var stringValue =   'Latitude: <input type="text" value ="'+ui.item.latitude+'" >Longitude:<input type="text" value="'+ui.item.longitude+'"><br/>';
        $('#value').append(stringValue);

        marker.setPosition(location);
        map.setCenter(location);

      }
    })
  }); 

  </script>
  </head>

  <body onload="initialize()">
    <div id="search-form"><form action="/searches/new" method="get">
      <label for="name">Enter Address:</label>
      <input type="text" name="auto" id="autocomplete">
      <button>Search</button>
    </form></div>

    <div id="map-canvas">
      </div>

    <div id="value">
      </div>

  </body> 
</html>