<h1> aptQuest </h1>
 <!DOCTYPE html>

<html>
loolol
  <title></title>
  <div id="navcontainer">
</ul>
</div>
  <head>
    <body>
      <div id="hero">
      <div id="map">

    <%= render 'map' %>
      </div>
  </body> 
</html>