
  <!-- <h1> aptQuest </h1> -->
  <h1> <%= image_tag('logo3.png') %></h1>
    <body>
      <div id="hero">
      <div id="map">

      </div>

    
    <div id="search-form"><form action="/searches/new" data-remote="true" method="get">
      <label for="name">Enter Address:</label>
      <input type="text" name="auto" id="autocomplete">
      <button id="search-button">Search</button>
    </form></div>


    
 


    </body> 
