
<!-- <h1> aptQuest </h1> -->
<div id="logo"><div id="hero"></div> <%= image_tag('logo3.png') %></div>

<!-- address search bar -->
    <div id="search-form">
      <form action="/searches/new" data-remote="true" method="get">
      <input id="address" name="auto" type="textbox" value="">
      <button id="search-button" onclick="updateMapAddress()">Enter Address</button>
    </div>

<%= render 'map' %>