<html>
  <title>aptQuest</title>
  <h1> <%= image_tag('logo3.png') %></h1>
  <div id="navcontainer">
</ul>
</div>
  <head>
    <body>
      <div id="hero">
      <div id="map">

    <%= render 'map' %>
      </div>
  </body> 
</html>